<ion-header>
	<ion-navbar>
		<ion-buttons start>
			<button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Insurance</ion-title>
	</ion-navbar>
</ion-header>

<h1> -----</h1>
<br>
<br>
<h1 *ngIf="insuranceReady < 1" > Waiting on digi.me data...  </h1> 

<h1 *ngIf="insuranceReady > 0" > Health Score: {{score}}</h1>

<h3 *ngIf="insuranceReady > 0" > Recommended insurances: </h3>

<ion-list inset *ngIf="insuranceReady > 0">
	<ion-item *ngFor="let i of insuranceArray" (click)="showInsuranceQuote(i);">
			<p>
				{{i.name}}
			</p>
	</ion-item>
</ion-list>

<div *ngIf="showQuote > 0" >
	<div class='np'>New Price<hr style='display:inline-block; width:100px;' /> {{insuranceSelected.newPrice}}</div>
	<br>
	<div class='op'>Old Price<hr style='display:inline-block; width:100px;' /> {{insuranceSelected.oldPrice}}</div>
	<br>
	<div class='savings'>Savings<hr style='display:inline-block; width:100px;' /> {{insuranceSelected.savings}}</div>
</div>



