page-insurance {
	h4, h1, h3{
		text-align: center;
	}
	hr {
		background-color:gray;
		margin-bottom:0px;
		margin-left:2px;
	}
	.ion-item {
		color:black;
	}
	.item-ios p {
		color:black;
	}

	.quotes {
		margin-left:10px;
		margin-top:40px;
		font-size:1.5em;
	}
	.np {

	/*float:left*/
	}
	.op {
	/*float:right*/
	}
	p {
		text-align:center;
		font-weight:500;

	}
	background-color: white!important;
	.disabled {
		color: color($colors, medium);

	} /* end disabled */

} /* end page-invite */