<ion-header>
	<ion-navbar>
		<ion-buttons start>
			<button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>Insurance</ion-title>
	</ion-navbar>
</ion-header>

<h1> -----</h1>
<br>
<br>
<h1> Health Score: {{score}}</h1>

<h3> Recommended insurances: </h3>

<ion-list inset *ngIf="insuranceReady > 0">
	<ion-item *ngFor="let i of insuranceArray" (click)="showInsuranceQuote(i);">
			<p>
				{{i.name}}
			</p>
	</ion-item>
</ion-list>

<div *ngIf="showQuote > 0" >
	<div class='np'>New Price: {{insuranceSelected.newPrice}}</div>
	<div class='op'>Old Price: {{insuranceSelected.oldPrice}}</div>
	<div class='savings'>Savings: {{insuranceSelected.savings}}</div>
</div>



