<h1>test</h1>
<ion-tabs>
  <ion-tab *ngFor="let p of pages" [tabTitle]="p.title" [root]="p.component" ></ion-tab>
  <!-- <ion-tab tabTitle="Home" [root]="rootPage" ></ion-tab> -->
  <!-- <ion-tab tabTitle="DigiMe" [root]="DigiMe" ></ion-tab> -->
  <!-- <ion-tab [root]="tab3Root"></ion-tab> -->
</ion-tabs>


<!-- <ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list no-lines>
      <button class="list-item" menuClose ion-item *ngFor="let p of pages" (click)="navigateTo(p)">
        {{p.title}}
      </button>
      <button class="list-item" menuClose ion-item (click)="socialLogin();" *ngIf="!authenticated">
        Login
      </button>
      <button class="list-item" menuClose ion-item (click)="socialLogout();" *ngIf="authenticated">
        Logout
      </button>
    </ion-list>

  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav> -->



<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
